# phpstorm project files
.idea

# windows thumbnail cache
Thumbs.db

# composer vendor dir
/protected/vendor

# composer itself is not needed
composer.phar

sites/*
!sites/.gitignore
files/*
!files/.gitignore
assets/*
!assets/.gitignore

protected/runtime/*
!protected/runtime/.gitignore
protected/config/db.php

# Mac DS_Store Files
.DS_Store

# phpunit itself is not needed
phpunit.phar
# local phpunit config
/phpunit.xml
