.menu__toggler { display: none; }
@media only screen and (min-device-width: 320px) and (max-device-width: 736px) {
    img { max-width: 100%; }
    body { min-width: 100%; }
    .container { width: 100%; }
    .header { background: #c02237 url(../images/header-top-bg.png) top center no-repeat; padding-bottom: 10px; }
    .header__top .container { display: flex; -webkit-display: flex; -moz-display: flex; -ms-display: flex; o-display: flex; flex-wrap: wrap; }
    .header__top .social { float: none; margin: auto; text-align: center; padding: 12px 0; order: 1; }
    .header__top .social__menu { float: none; }
    .header__top .header__order { float: none; width: 100%; order: 0; }
    .header__top .header__order a { box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; -o-box-sizing: border-box; width: 100%; height: 38px; line-height: 30px;  background: #ffffff url("../images/header-btn-bg.png") 0 center no-repeat; background-size: contain; text-align: center; padding: 0 0 0 15px; background-position: 0 0; display: block; margin: 0 auto; font-size: 16px; }
    .header__middle .logo { float: none; }
    .header__middle .logo h1 { line-height: 60px; font-size: 60px; text-align: center; }
    .header__middle .menu__nav { float: none; }
    .header__middle .menu__items { display: block; padding: 10px 0; margin: 0; text-align: center; }
    .cream { margin: 0; padding: 20px 5px; width: 100%; }
    .cream__image { float: none; margin: auto; }
    .cream__title { float: none; width: 100%; padding: 10px 0; text-align: center; }
    .cream__title h2 { margin-bottom: 20px; }
    .cream__title .cream__order { float: none; }
    .cream__title .order__btn { display: block;text-align: center; padding: 0; font-size: 20px; }
    .cream__title .cream__price { float: none; display: block; margin: 10px auto; }
    .cream .sale { top: 90px; left: 50%; margin-left: -100px; bottom: initial; }
    .header ~ .container { display: flex; -webkit-display: flex; -moz-display: flex; -ms-display: flex; o-display: flex; flex-wrap: wrap; }
    .container .left_side { float: none; width: 100%; order: 1; }
    .container .description__right { float: none; width: 100%; order: 0; padding: 10px 5px; font-size: 15px; line-height: 22px; margin-bottom: 20px; }
    .description__right h2 { margin-bottom: 15px; font-size: 30px; line-height: 32px; border-bottom-width: 3px; padding-bottom: 10px; }
    .description__right p + h2 { margin-top: 10px; }
    .description__right ul { margin-top: 10px; margin-left: 10px; }
    .description__right li { padding-left: 20px; margin-bottom: 5px; background-position: left 5px; }
    .description__right table { width: 100% !important; }
    .review-doctors { float: none; width: 100%; padding: 0 5px; box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; -o-box-sizing: border-box; display: block; font-size: 15px; line-height: 22px; margin-bottom: 0; }
    .review-doctors h2 { font-size: 40px; line-height: 40px; margin-bottom: 20px; border-width: 3px; }
    .review-doctors li { width: 90%; margin-left: 25px; float: none; margin: 0 auto 10px; padding: 10px 5px; box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; -o-box-sizing: border-box; }
    .review-doctors li:nth-child(odd) { margin: 0 auto 10px; }
    .review-doctors h3 { line-height: 20px; }
    .reviews { float: none; padding: 20px 5px 0; width: 100%; box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; -o-box-sizing: border-box; margin-bottom: 0; }
    .reviews h2 { margin-bottom: 20px; border-width: 3px; text-align: center; padding-bottom: 10px; }
    .reviews p { font-size: 15px; line-height: 22px; }
    .reviews li { margin-bottom: 15px; }
    .cream__left { float: none; width: 100%; box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; -o-box-sizing: border-box; font-size: 15px; line-height: 22px; padding: 20px 5px; margin-bottom: 0; }
    .cream__left .product_two { margin: auto; }
    .footer { padding: 20px 0; }
    .footer__logo { float: none; text-align: center; margin-bottom: 10px; }
    .footer__logo h2 { font-size: 45px; }
    .footer__order { float: none; text-align: center; }
    .footer__order a { font-size: 20px; }
}
