.menu__toggler { display: none; }
@media only screen and (min-device-width: 320px) and (max-device-width: 736px) {
    body { min-width: 100%; }
    .container { width: 100%; }
    .header__top { padding-bottom: 10px; }
    .header__top .official__link { float: none; text-align: center; }
    .header__top .header__order { float: none; display: block; margin: auto; padding: 0; }
    .header__middle { padding-top: 20px; }
    .header__middle .logo { float: none; text-align: center; width: 100%; height: auto; margin-bottom: 10px; }
    .header__middle .menu__nav { float: none; }
    .header__middle .menu__items { padding: 5px 0; float: none; margin: 0; text-align: center; }
    .header__middle .social { float: none; margin: 0; padding: 10px 0; }
    .social__menu { float: none; }
    .header__middle .social__menu { float: none; text-align: center; }
    .header__middle .social__items { float: none; display: inline-block; vertical-align: middle; }
    .header__middle .social__items:last-of-type { margin-right: 0; }
    .cream { width: 100%; padding: 30px 0; margin-bottom: 0; }
    .cream__image { float: none; margin: 0; width: 100%; padding: 10px 0; height: auto; }
    .cream__image .product { margin-top: 15px; margin-bottom: 15px; }
    .cream__title { float: none; width: 100%; padding-top: 10px; text-align: center; }
    .cream__title h2 { font-size: 40px; }
    .cream__title .cream__order { float: none; }
    .cream__title .cream__price { float: none; margin: 10px auto 0; }
    .main_content.container { display: flex; -webkit-display: flex; -moz-display: flex; -ms-display: flex; o-display: flex; flex-wrap: wrap; }
    .main_content .left_side { float: none; width: 100%; order: 1; }
    .main_content .right_side { float: none; width: 100%; order: 0; }
    .description__right { width: 100%; padding: 10px; box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; -o-box-sizing: border-box; float: none; font-size: 15px; line-height: 1.4; margin-bottom: 0; }
    .description__right h2 { font-size: 40px; line-height: 45px; margin-bottom: 10px; }
    .description__right p ~ h2 { margin-top: 15px; }
    .description__right ul { margin-top: 10px; }
    .description__right li { padding-left: 25px; margin-bottom: 10px; }
    .description__right table { width: 100% !important; }
    .reviews { width: 100%; padding: 10px; box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; -o-box-sizing: border-box; margin-bottom: 30px; }
    .reviews h2 { font-size: 45px; line-height: 48px; margin-bottom: 15px; }
    .reviews li { margin-bottom: 30px; padding-bottom: 0 10px; }
    .reviews li p { font-size: 15px; line-height: 20px; }
    .reviews img { margin-bottom: 10px; }
    .review-doctors { float: none; width: 100%; font-size: 15px; line-height: 20px; padding: 15px 10px 10px; margin-bottom: 0; box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; -o-box-sizing: border-box; }
    .review-doctors h2 { font-size: 40px; line-height: 45px; }
    .review-doctors li { padding: 10px; box-sizing: border-box; -webkit-box-sizing: border-box; -moz-box-sizing: border-box; -ms-box-sizing: border-box; -o-box-sizing: border-box; margin-bottom: 10px; }
    .cream__left { font-size: 15px; line-height: 20px; width: 100%; }
    .cream__left .sale { margin-bottom: 20px; }
    .cream__left h3 { padding-bottom: 10px; }
    .cream__left .order__btn { margin: 20px 0; }
    .footer { padding: 20px 0; }
    .footer__logo { float: none; height: auto; text-align: center; width: auto; }
    .footer__order { float: none; margin: 10px auto 0; display: block; }
}
